.wrapper_navbar {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 15px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    cursor: pointer;
  }
  .link_navbar {
    text-decoration: none;
    color: #946cee;
  }
  .nav_buttons {
    .btn_nav_login,
    .btn_nav_signup {
      margin: 10px;
    }
    .btn_nav_login {
      background: transparent;
      border-radius: 10px;
      border: 2px solid #946cee;
      color: #946cee;
    }
    .btn_nav_signup {
      border-radius: 10px;
      background-color: #946cee;
      border: 2px solid #946cee;
      color: white;
    }
  }
}
