.container {
  margin: 10rem auto;
  max-width: 1200px;
  flex-direction: column;
  h2 {
    font-size: 30px;
    text-align: center;
  }
  .wrapper_input {
    max-width: 600px;
    margin: auto;
    .doneButton {
      background-color: #946cee;
      color: white;
      font-size: 22px;
      margin: 2rem 0;
      padding: 0.5rem 2rem;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid #946cee;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .inputGroup {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      label {
        font-size: 25px;
        margin-bottom: 15px;
      }
      input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid grey;
      }
    }
  }
}
