.test_section {
  margin: 3rem 0;
  text-align: center;
  p {
    font-size: 35px;
    max-width: 1000px;
    margin: auto;
  }
  .btn_test {
    padding: 1rem 4rem;
    font-size: 35px;
    margin: 2rem 0;
    border-radius: 20px;
    background: #946cee;
    outline: none;
    border: 1px solid #946cee;
    color: white;
    cursor: pointer;
  }
  .btn_test_link {
    text-decoration: none;
    color: white;
  }
}
