.wrapper_header {
  padding: 3rem 0;
  font-weight: 600;
  .header_first {
    padding: 0 0 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      font-size: 30px;
    }
    img {
      width: 600px;
    }
  }
  .header_second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 600px;
      object-fit: cover;
    }
    p {
      font-size: 35px;
    }
  }
}
